
body{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height: 100vh; 
}
.grid{
    display: grid;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 600px;    
    width: 600px;
    /* grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px); */
}

.square{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}